/* colors
#61122f moroon
#f6b319 yellow
#951c49  moroon2

 */



body{
    font-family: 'Oxygen', sans-serif;
    background-color: #61122f;
    color: white;
}

#nav-bar{
    background-color: #f6b319 ;
}

div.navbar-brand{
    margin-top: 30px;
}

div.navbar-brand a{
    font-size: 1.5em;
    color: #557c3e;
    text-shadow: 1px 1px 1px #444;
    font-weight: bold;
    text-decoration: none;
}


div.navbar-brand p{
    font-size: .7em;
}

div.navbar-brand p span{
    vertical-align: middle;
}

.menu-icons{
color: #951c49;
font-size: 2.5em;
}

.menu-text a p{
    color: #951c49;
    font-weight:500;
}

.navbar-nav{
    display: inline-block;
}

.navbar-nav li{
margin: 0 10px;;
}
a.navbar-nav{
    display: inline-block;
}
#phone-call{
    font-size: 28px;
    font-weight: 500;
    color: #951c49;
    margin-left: 50px
}

#we-deliver{
    color: #557c3e;
    font-size: 1.2em;
}